matplotlib==3.7.4
numpy==1.24.4
opencv_python_headless==4.4.0.46
Pillow==8.0.1
#Pillow==10.1.0
pydicom==2.4.4
pytorch_lightning==2.1.2
streamlit==1.29.0
torch==2.1.0
torchmetrics==1.2.1
torchvision==0.16.0
